In [1]:
"hello"+"woorld"

'hellowoorld'

In [2]:
"hi"*4

'hihihihi'

In [3]:
'hi' * 4.0

TypeError: can't multiply sequence by non-int of type 'float'

In [4]:
'hi' * 'a'

TypeError: can't multiply sequence by non-int of type 'str'

In [5]:
'hi' * -1

''

In [6]:
'hello' * 4

'hellohellohellohello'

In [7]:
'4' + '5'

'45'

In [8]:
3 * '4'

'444'

In [9]:
'a' * 3 + 'b' * 3 + 'c' * 3

'aaabbbccc'

In [10]:
'2 * 3 + 4'

'2 * 3 + 4'

In [11]:
2 * 3 + 4

10

In [13]:
a = 3
b = 5
c = 'a+b'
c

'a+b'

In [14]:
'hi' * (4/2)

TypeError: can't multiply sequence by non-int of type 'float'

In [15]:
4/2

2.0

In [16]:
name = 'Tom'

In [17]:
'My name is' + name

'My name isTom'

In [18]:
'My name is %s.' % name

'My name is Tom.'

In [19]:
'My name is %s.' % name * 2

'My name is Tom.My name is Tom.'

In [21]:
age = 30

In [22]:
"I'm %d years old" % age

"I'm 30 years old"

In [23]:
Pi = 3.14

In [24]:
"Pie is %f" %Pi

'Pie is 3.140000'

In [26]:
'My name is %s.' % 3.14

'My name is 3.14.'

In [27]:
"I'm %d years old" % 'age'

TypeError: %d format: a number is required, not str

In [29]:
"Pie is %f" % 3

'Pie is 3.000000'

In [30]:
'aa %s cc' % 'bb'

'aa bb cc'

In [31]:
'aa %s cc' % 123

'aa 123 cc'

In [32]:
'aa %s cc' % 3.14

'aa 3.14 cc'

In [33]:
'%d * %d = %d' % (3, 4, 3*4)

'3 * 4 = 12'

In [34]:
'%d * %d = %d' % ('3', '4', '3*4')

TypeError: %d format: a number is required, not str

In [35]:
'%d * %d = %d' % (3.5, 4.1, 3.5 * 4.1)

'3 * 4 = 14'

In [36]:
'pi = %f' % 3

'pi = 3.000000'

In [37]:
'pi = %f' % '3'

TypeError: must be real number, not str

In [38]:
'pi = %f' % 3.14

'pi = 3.140000'

In [43]:
'%d%%' % 90

'90%'

In [41]:
'%d%%'

'%d%%'

In [40]:
'90%%'

'90%%'

In [44]:
'%10s' % 'hi' + 'Dave'

'        hiDave'

In [45]:
'%-10s' % 'hi' + 'Dave'

'hi        Dave'

In [46]:
'%10d' % 1234

'      1234'

In [47]:
'%10.1f' % 3.14

'       3.1'

In [48]:
'%10.1f' % 3.15

'       3.1'

In [49]:
'%10.1f' % 3.25

'       3.2'

In [50]:
'%10.1f' % 3.35

'       3.4'

In [53]:
print('%6d' % 1234)
print('%5d' % 1234)
print('%4d' % 1234)
print('%3d' % 1234)

  1234
 1234
1234
1234

In [54]:
'%6d' % 1234
'%5d' % 1234
'%4d' % 1234
'%3d' % 1234

'1234'

In [55]:
len('abc')

3

In [56]:
a = 'HI~'
b = len(a)
c = '*' * b
c

'***'

In [57]:
len('')

0

In [58]:
'010-1234-5678'.replace('-', '')

'01012345678'

In [60]:
'Hello~ Tom'.replace('Tom','Alice')

'Hello~ Alice'

In [61]:
ord('a')

97

In [62]:
chr(65)

'A'

In [63]:
chr(ord('a')+1)

'b'

In [64]:
'abc DEF'.lower()

'abc def'

In [65]:
'abc DEF'.upper()

'ABC DEF'

In [66]:
'abc DEF'.capitalize()

'Abc def'

In [67]:
'a2c DEF'.capitalize()

'A2c def'

In [68]:
'Hello'.isalpha()

True

In [69]:
'Fourty two'.isalpha()

False

In [74]:
''.isalpha()

False

In [70]:
'43'.isdigit()

True

In [75]:
'-43'.isdigit()

False

In [71]:
'HI'.isupper()

True

In [72]:
'HI!!!'.isupper()

True

In [73]:
'hello'.islower()

True

In [76]:
a = 32

In [77]:
b = '9'

In [78]:
c = '3.5'

In [79]:
a + b

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [80]:
a + int(b)

41

In [81]:
b + c

'93.5'

In [82]:
int(b) + int(c)

ValueError: invalid literal for int() with base 10: '3.5'

In [83]:
int(b) + float(c)

12.5

In [84]:
b * c

TypeError: can't multiply sequence by non-int of type 'str'

In [85]:
b * float(c)

TypeError: can't multiply sequence by non-int of type 'float'

In [86]:
int(b) * c

'3.53.53.53.53.53.53.53.53.5'

In [87]:
a = 3
a = a * 2
b = '4'
print(a+12)
print(b)

18
4

In [88]:
a = 3
a = a * 2
b = '4'
a+12
b

'4'

In [89]:
print('a', 'b',4,'c')
print()
print('a'+'b',4,'c')

a b 4 c

ab 4 c

In [92]:
print('a', 'b',4,'c')
print()
print('a'+'b'+str(4),'c')

a b 4 c

ab4 c

In [93]:
print('a','b','c', sep = '')
print('a','b','c', sep = '---')
print('a','b','c', sep = '\t123')

abc
a---b---c
a	123b	123c

In [94]:
print('a', end = '@')
print('b', end = '!\n~')
print('c')

a@b!
~c

In [95]:
name = input("What's your name? ")
print("My name is", name)

What's your name? Tom
My name is Tom

In [97]:
name = input("What's your name? ", "What")
print("My name is", name)

TypeError: raw_input() takes from 1 to 2 positional arguments but 3 were given

In [98]:
age = input("How old are you? ")
print("I'm %s years old" % age)

How old are you? 30
I'm 30 years old

In [100]:
age = input("How old are you? ")
print("I'm %s years old" % (age+1))

How old are you? 30

TypeError: can only concatenate str (not "int") to str

In [102]:
age = input("How old are you? ")
age

How old are you? 30

'30'

In [103]:
age = input("How old are you? ")
print("I'm %s years old" % (int(age)+1))

How old are you? 30
I'm 31 years old

In [105]:
age = int(input("How old are you? "))
print("I'm %s years old" % (age+1))

How old are you? 30
I'm 31 years old

In [106]:
inStr = input("String:")
print(inStr * 2)

String:3
33

In [107]:
inInt = int(input("Int: "))
print(inInt * 2)

Int: 3
6

In [108]:
inFloat = float(input("Float: "))
print(inFloat * 2)

Float: 3
6.0

In [1]:
leaf = input('잎 모양: ')
stem = '호'
print(' '*3 + leaf)
print(' '*2 + leaf*2)
print(' ' + leaf*3)
print(leaf*4)
print(' '*3+stem)
print(' '*3+stem)

잎 모양: 후
   후
  후후
 후후후
후후후후
   호
   호

In [2]:
input('나무에 도끼질을 합니다. ' + '쾅')
input('나무에 도끼질을 합니다. ' + '쾅'*2)
input('나무에 도끼질을 합니다. ' + '쾅'*3)
input('나무에 도끼질을 합니다. ' + '쾅'*4)
input('나무에 도끼질을 합니다. ' + '쾅'*5)
input('나무에 도끼질을 합니다. ' + '쾅'*6)
input('나무에 도끼질을 합니다. ' + '쾅'*7)
input('나무에 도끼질을 합니다. ' + '쾅'*8)
input('나무에 도끼질을 합니다. ' + '쾅'*9)
input('나무에 도끼질을 합니다. ' + '쾅'*10)
print('나무가 넘어갔습니다!!')

나무에 도끼질을 합니다. 쾅!
나무에 도끼질을 합니다. 쾅쾅!
나무에 도끼질을 합니다. 쾅쾅쾅!
나무에 도끼질을 합니다. 쾅쾅쾅쾅!
나무에 도끼질을 합니다. 쾅쾅쾅쾅쾅!
나무에 도끼질을 합니다. 쾅쾅쾅쾅쾅쾅!
나무에 도끼질을 합니다. 쾅쾅쾅쾅쾅쾅쾅!
나무에 도끼질을 합니다. 쾅쾅쾅쾅쾅쾅쾅쾅!
나무에 도끼질을 합니다. 쾅쾅쾅쾅쾅쾅쾅쾅쾅!
나무에 도끼질을 합니다. 쾅쾅쾅쾅쾅쾅쾅쾅쾅쾅!
나무가 넘어갔습니다!!!

'!'

In [3]:
weight = input('체중을 입력하세요(kg):')
height = input('신장을 입력하세요(cm):')
print()
BMI = float(weight) / (float(height)/100)**2
print('BMI는 %.2f'%BMI, '입니다')

체중을 입력하세요(kg):60
신장을 입력하세요(cm):180

BMI는 18.52 입니다

In [26]:
f = int(input('화씨 온도를 입력하세요:'))
c = 5/9 * (f - 32)
print('섭씨 온도는', c, '입니다.')

화씨 온도를 입력하세요:54
섭씨 온도는 12.222222222222223 입니다.

In [25]:
f = int(input('화씨 온도를 입력하세요:'))
c = 5/9 * (f - 32)
cc = '%.1f' % c
print('섭씨 온도는', cc, '입니다.')

화씨 온도를 입력하세요:54
섭씨 온도는 12.2 입니다.

In [27]:
f = int(input('화씨 온도를 입력하세요:'))
c = 5/9 * (f - 32)
print('섭씨 온도는', '%.1f' % c, '입니다.')

화씨 온도를 입력하세요:54
섭씨 온도는 12.2 입니다.

In [5]:
c = int(input('섭씨 온도를 입력하세요:'))
f = 9/5 * c + 32
print('화씨 온도는', f, '입니다.')

섭씨 온도를 입력하세요:32
화씨 온도는 89.6 입니다.

In [28]:
name = input("What is your name?:")
age = input("How old are you?:")
print('당신의 이름은', name, '당신의 나이는', age, '입니다.')

What is your name?:홍길동
How old are you?:30
당신의 이름은 홍길동 당신의 나이는 30 입니다.

In [29]:
name = input("What is your name?:")
age = input("How old are you?:")
print('당신의 이름은 %s 당신의 나이는 %s 입니다.' % (name, age))

What is your name?:홍길동
How old are you?:30
당신의 이름은 홍길동 당신의 나이는 30 입니다.

In [14]:
word = input('희망 단어는?')
repeat = input('몇 번 반복할래요?')
print(word * int(repeat))

희망 단어는?빵야
몇 번 반복할래요?3
빵야빵야빵야

In [15]:
word = input('희망 단어는?')
repeat = int(input('몇 번 반복할래요?'))
print(word * repeat)

희망 단어는?짝
몇 번 반복할래요?5
짝짝짝짝짝

In [16]:
print(19 % 4)

3

In [17]:
print(4**(7//2))

64

In [18]:
print('3 * @' *2)

3 * @3 * @

In [19]:
a = 6
print(str(int(a)-2) * 3)

444

In [20]:
b = 7
print('b' * 4)

bbbb

In [21]:
print(int(float('3.5')) * '2')

222

In [22]:
print(str(3.1) + str(45))

3.145

In [23]:
print('HI', '!' * 2)

HI !!

In [24]:
print(int('3.0') * str(4))

ValueError: invalid literal for int() with base 10: '3.0'